<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from student.models import CourseEnrollment
%>
<%page args="course" />
<article id="${course.id | h}" class="course">
  %if course.is_newish:
    <span class="status">${_("New")}</span>
  %endif
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
  
  <div class="inner-wrapper">


      <header class="course-preview">
        <hgroup>
          <h2><span class="course-number">${course.display_number_with_default | h}</span> ${get_course_about_section(course, 'title')}</h2>
        </hgroup>
        <div class="info-link">&#x2794;</div>
      </header>
      
      <section class="info">
        
        
        <div class="desc">
          <p>${get_course_about_section(course, 'short_description')}</p>
        </div>

        <div class="bottom">
          <span class="university">${get_course_about_section(course, 'university')}</span>
          <span class="university">${CourseEnrollment.entrollment_counts(course.id)}</span>

          % if not course.start_date_is_still_default:
          <span class="start-date">${course.start_date_text}</span>
          <span class="start-date">${course.end_date_text}</span>
          % endif
        </div>
      </section>
    </div>

    <div class="meta-info">
      <p class="university">${get_course_about_section(course, 'university')}</p>
    </div>

  </a>
</article>
